html {
    width: 100%;
    height: 100%;
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/
    overflow:hidden;
    display:block;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

button {
    margin: 5px;
    background-color: #d8e9d9; /* Green */
    border-radius: 12px;
    color: black;
    padding: 5px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

button:active {
    background-color: #82dd86;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* #bottomButtonsContainer {
    position: absolute;
    right:    0;
    bottom:   0;
} */

/* .hide {
    display: none;
} */

.red {
    background-color: rgb(235, 69, 69);
}

.cyan {
    background-color: rgb(109, 255, 255);
}

.orange {
    background-color: rgb(252, 190, 77);
}

.green {
    background-color: rgb(83, 252, 77);
}